/* .oldbutton is deprecated for now!!! */
.oldbutton { 
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

/* general stuff */
.sectionright {
  float: right;
  width: 20%;
}

.sectionleft {
  float: left;
  width: 80%;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; /* if not using chromium broswer */
  user-select: none;
}

.sectionFooter {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 15%;
  padding: 5px;
}

/* game stuff */

.scorecontainer {
  background-color: rgba(110, 95, 51, 0.6);
  width: 95%;
  padding: 5px;
  border-radius: 15px;
  font-size: 36px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.clickercontainer img {
  width:512px;
  height:256px;

  position: relative;
  transition: all .15s ease-in-out;
}

.clickercontainer img:hover { transform: scale(1.05); }
.clickercontainer img:active { transform: scale(0.95); }

.shopButton {
  background-color: #8f8061;
  transition: all .3s ease-in-out;
  border-radius: 15px;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.shopButton:hover {
  background-color: #b1a07d;
  transition: all .3s ease-in-out;
}

.shopButton #image {
  width: 25%;
}

.shopButton img {
  height: 96px;
  width: 96px;
}

.shopButton #nameAndCost p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #dabc81;

  margin: 0px;
  width: 60%;
}

.shopButton #nameAndCost p:first-of-type {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px
}

.shopButton #amount {
  font-size: 56px;
  color: #554c39;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 15%;
}
