button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.sectionright {
  float: right;
  width: 20%;
}

.sectionleft {
  float: left;
  width: 80%;
}

.scorecontainer {
  background-color: rgb(230, 230, 230, 0.6);
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}

.clickercontainer img {
  position: relative;
  transition: all .2s ease-in-out;
}

.clickercontainer img:hover { transform: scale(1.10); }
.clickercontainer img:active { transform: scale(0.99); }
